.navbar {
  text-align: center;
}

#leftcontent{
  float: left;
}

.fiveDayDiv {
  background-color: #428bca;
  width: 15%;
  border-radius: 10px;
  padding-right: 10px;
  display: inline-table;
  float: right
}

.spaceNeeded {
  margin-left: 10px;
}

h3 {
  text-align: center;
}