.navbar {
  text-align: center;
}

#left-content {
  float: left;
}

#forecast {
  margin-left: 21%;
  margin-right: 0%;
}

.fiveDayDiv {
  background-color: #007bff;
  width: 15%;
  border-radius: 10px;
  padding-right: 10px;
  margin-left: 10px;
  display: inline-table;
}

h3 {
  text-align: center;
}
